name: First workflow

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1

      - name: Hello Codelies!
        run: echo "Hello!!!! from ${{ github.event_name }}"
